
body{
    margin: 0px;
    padding: 0px;
    color: rgb(241, 255, 240);
    font-family: 'rubik';
    background-color: rgb(29, 29, 29);
}
.encabezado{
    display: flex;
    position:fixed;
    width: 100%;
}

.nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 26px;
    background-color: rgb(20, 20, 20);
}

.nav-right ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

.nav-right a{
    color:rgb(241, 255, 240);
    text-decoration: none;
    margin: 5px;
    transition: 0.3s;
}

.nav-right a:hover{ 
    background-color: aquamarine;
    color: black;
    text-shadow: 1px 1px 2px rgb(174, 253, 99);;
}

.nav-left{
 display: flex;
}

.logo-nav{
    width: 150px;
    
}

.h-coleccion{
    margin: 0;
    padding-top: 130px;
    text-align: center;
    font-size: 2em;
    font-family: "Space Mono";
    font-weight:700;
}

.grid{
    display: grid;
    grid-template-columns:   1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    column-gap: 20px;
    row-gap: 20px;
    padding-right: 80px;
    padding-left: 80px;  
}   

.grid a{
    text-decoration: none;
    color: black;
}

.card{
    background-color: rgb(223, 223, 223);
    width: 100%;
    margin: 0px;
    border-radius: 10px;
    justify-content: center;
    font-size: large;
    overflow: hidden;
}

.card h1{
    margin: 0px;
    text-align: center;
    font-size: 1.1em;
}

.card p{
    text-align: center;
    font-size: medium;
}

.card img{
    width: 100%;
}

.pie{
    height: 150px;
    background-color: rgb(20, 20, 20);
    margin-top: 80px;
}

@media (max-width: 800px) {
    .grid{
        display: grid;
        grid-template-columns:   1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 20px;
        padding-left: 25px;
        padding-right: 25px;
        
    } 

    h1{
        font-size: 40px;
    }
    
}